.post {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.post:hover {
  cursor: pointer;
}

.image {
  width: 320px;
  height: 260px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}

.post:hover .image {
  opacity: 0.64;
}

.content {
  flex: 1;
  height: 260px;
  padding: 24px 48px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post:hover .content {
  padding: 24px 36px 24px 36px;
}

.content h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.content p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #9c9b96;
}
