.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.64);
  backdrop-filter: blur(16px);
}

.title h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  padding: 4px 8px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 960px) {
  .nav {
    flex-direction: column;
    align-items: unset;
    padding: 40px 56px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: unset;
    width: 100%;
  }

  .title h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .menu li a {
    padding: 8px 0;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1240px) {
  .title h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .menu li a {
    padding: 8px 0;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1600px) {
  .title h1 {
    font-size: 56px;
    line-height: 64px;
  }

  .menu li a {
    padding: 12px 0;
    font-size: 32px;
    line-height: 40px;
  }
}
